# Adobe / design
*.aep
*.psd
*.ai
*.c4d
Adobe After Effects Auto-Save/
*.aep Logs/

# Video / exports
*.mp4
*.mov
*.webm
# Uitzondering voor hero video's
!artwork/ALL_converted_final.webm
!artwork/Badje_2_converted.webm
!artwork/Locatie.webm

# Node
node_modules/

# OS / misc
.DS_Store
